/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #007bff;
    color: white;
    padding: 15px 0; /* Adjust padding for header */
    text-align: center;
    height: 70px; /* Set fixed height for the header */
    display: flex;
    align-items: center; /* Vertically align the content */
    justify-content: center; /* Center the content horizontally */
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  h1 {
    flex-grow: 1;
    font-size: 24px;
    margin: 0;
    text-align: center;
  }
  
  .logo-left img,
  .logo-right img {
    width: 90px; /* Adjust logo size */
    height: auto;
  }
  
  #categories {
    text-align: center;
    margin: 20px;
  }
  
  #categories button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #categories button:hover {
    background-color: #0056b3;
  }
  
  #catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .book {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .book img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #007bff;
  }
  
  .book h3 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .book p {
    color: #555;
    font-size: 14px;
  }
  
  /* Modal styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  